{% extends 'base.html' %}


{% block title%} {% endblock%}


{% block content%} 
  <div class="container-fluid bg-light">
      <div class="row p-2">
            <div class="col-xl-3 col-lg-4 col-md-12 mb-4 border border-10 d-flex" >
                <ul class="">
                    <li class="d-flex align-center">
                        <a class="dropdown-item" href="{% url 'beach'%}">Location</a>
                        <br>
                        <a class="dropdown-item" href="{% url 'category'%}">category</a>
                        <br>
                        
                    </li>
                </ul>
            </div> 
            <h1 class="text-center">{{ imgs.category }}</h1>
            {% for imgs in images %}
            <div class="col-xl-3 col-lg-4 col-md-12 mb-4">
                <button class="btn btn-primary rounded-pill mb-2"><h5 class="headings text-center text-white">{{ imgs.category }}</h5></button>
                <div class="bg-white rounded shadow-sm"><img src="{{ imgs.image.url}}" alt="..."
                    class="img-fluid card-img-top">
                  <div class="p-4">
                    <h5 class="headings text-center"> <a data-bs-toggle="modal"
                        data-bs-target="#modalDisplayImageDetails{{photo.id}}"
                        class="text-dark text-capitalize modal-click">{{imgs.image_name}}</a></h5>
                    <div class="d-flex justify-content-between">
                      <div>
                        <small class="text-muted">
                          <span class="badge rounded-pill bg-info text-white text-capitalize">{{imgs.image_description}}</span>
                        </small>
                      </div>
                      <div>
                        <small class="text-muted">
                          <span class="badge rounded-pill bg-dark text-white text-capitalize"></span>
                        </small>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            {% endfor %}


            <!-- <div class="col-xl-3 col-lg-4 col-md-12 mb-4">
                <div>
                    <div class="card">
                        <div class="card-body">
                          <h3 style="text-align: center;background-color: rgb(80, 118, 245);">SHOE GAME</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    
                        

                            {% for imgs in images %}
                                    
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">{{imgs.image_name}}</div>
                                {% if imgs.image%}
                                            
                                            <div >
                                            <img src="{{ imgs.image.url}}" alt="..." class="img-thumnail" height="110%" width="110%">
                                            </div>
                                            
                                            <div class="card-body">
                                                <p class="card-text"><h5 class="card-title"> {{imgs.image_description}} </h5>
                                            </div>
                                            
                                {% else%}
                            

                                        <h2>There is no image </h2>
                                        
                                            
                                        </div>
                                    </div>
                                {% endif%}
                            
                            
                            {% endfor %} 
                        </div>    
                            

                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% endblock%}