{% extends 'base.html' %}

{% block title%} {% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h2 style="text-align: center;background-color: blue;"> miami beach</h2>
                  <div class="card-group">
                    <div class="card">
                      <img src="https://media.istockphoto.com/photos/miami-beach-ocean-drive-historic-district-picture-id1300800419?b=1&k=20&m=1300800419&s=170667a&w=0&h=kccvXXTB9wILGtUtJQglVNMtQTOl-tS-NzCDVThhXd8=" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Lukistone Hotel</h5>
                        <p class="card-text">.</p>
                        
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://media.istockphoto.com/photos/south-beach-from-above-picture-id590299316?b=1&k=20&m=590299316&s=170667a&w=0&h=CLSrAArITtse6-HUZyr431Vh3WCBbcJ_L5PDrBMyF5U=" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Beach view</h5>
                        <p class="card-text"></p>
                        
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://media.istockphoto.com/photos/miami-beach-sign-in-florida-usa-picture-id183861456?b=1&k=20&m=183861456&s=170667a&w=0&h=SG3B6XjWtRrS9Ql4oQjTD1Qkq_dVlnDd-hUeiRMa9uQ=" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Miami</h5>
                        <p class="card-text"></p>
                        
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
        </div>
        <div class="card-group">
            <h2 style="text-align: center;background-color: blue;"> Maasai mara park</h2>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1635987152739-f57434e484a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1hYXNhaSUyMG1hcmElMjBuYXRpb25hbCUyMHBhcmt8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Brown/dark hair Lion</h5>
                <p class="card-text">King of the jungle.</p>
                
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1554490752-a465b1c6a5ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWFhc2FpJTIwbWFyYSUyMG5hdGlvbmFsJTIwcGFya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Code Monkey</h5>
                <p class="card-text">Short tail monkey #code monkey.</p>
                
              </div>
            </div>
            <div class="card">
              <img src="https://media.istockphoto.com/photos/african-sunset-picture-id596072022?b=1&k=20&m=596072022&s=170667a&w=0&h=r5FkhytPkRepJlNS7Ylobv41jclcL2i1hZOEjVUFOhI=" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">maaasai mara</h5>
                <p class="card-text">evening view Sunset.</p>
                
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}